#!/usr/bin/make -f

DH_WITH  = $(if $(wildcard /usr/bin/dh_systemd_enable),--with systemd)

%:
	dh $@ $(DH_WITH)

override_dh_auto_configure:
	dh_auto_configure -- \
		--with-snmp \
		--with-xml \
		--enable-pie \
		--with-systemdsystemunitdir=/lib/systemd/system
